<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="admin/part/head :: head"></head>
<head><title>customer manager</title></head>
<body>
<header id="header" th:replace="admin/part/header :: header"></header>
<script type="text/javascript" th:src="@{/js/admin/company.js}"/>

<div>
    <table>
        <thead>
            <tr>
                <th>公司名称:</th>
                <th>类型：</th>
                <th>电话：</th>
                <th>常用：</th>
                <th>操作:</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="company : ${companies}">
                <td th:text="${company.name}"></td>
                <td th:text="${company.type}"></td>
                <td th:text="${company.tel}"></td>
                <td th:text="${company.common}?'是':'否'"></td>
                <td>
                    <input type="button" value="改变状态" onclick="changeStatus(this)"/>
                    <input type="hidden" th:value="${company.id}"/>
                </td>
            </tr>

        </tbody>
    </table>
</div>


<footer id="footer" th:replace="admin/part/footer :: footer"></footer>

</body>

</html>