<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="admin/part/head :: head"></head>
<head>
    <title>邀请码管理</title>
    <link rel="stylesheet" href="/css/voucher.css"/>

    <style type="text/css">
        #main-nav li:nth-child(1) a{
            background:#ff7b33;
            color:#fff;
        }
    </style>
    <script type="text/javascript" th:src="@{/js/admin/invite.js}"/>

</head>
<body>
<header id="header" th:replace="admin/part/header :: header"></header>
<div class="bg_box">
    <h2 class="your_position"> >> 当前位置：邀请码管理</h2>
    <div class="bg_inbox">
        <div class="bg_title_box">
            <div class="bg_title pub_left">邀请码管理</div>
            <div class="pub_right">
                <button  onclick="generateInviteCode()">生成邀请码</button>
            </div>
        </div>
        <div class="pub_table">
            <table>
                <thead>
                <tr>
                    <th width="10%">邀请码</th>
                    <th width="15%">创建用户</th>
                    <th width="15%">创建日期</th>
                    <th width="15%">邀请用户</th>
                    <th width="15%">使用日期</th>
                    <th >作废</th>
                    <th width="10%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="invite : ${datas.getContent()}">
                    <td th:text="${invite.code}"></td>
                    <td th:text="${invite.createBy.name}"></td>
                    <td th:text="${invite.createDate}"></td>
                    <td th:text="${invite.inviteUser == null? '空': invite.inviteUser.name}"></td>
                    <td th:text="${invite.useDate}"></td>
                    <td th:text="${invite.markForDelete}? '是':'否'"></td>
                    <td>
                        <input type="button" value="废除" onclick="destoryInviteCode(this)" class="all_button button01"/>
                        <input type="hidden" th:value="${invite.id}"/>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <div th:include="page :: pager" th:remove="tag"></div>

    </div>
</div>


<footer id="footer" th:replace="admin/part/footer :: footer"></footer>

</body>

</html>