<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="admin/part/head :: head"></head>

<body>
<header id="header" th:replace="admin/part/header :: header"></header>

<div th:if="${param.error}">

    Invalid username and password.

</div>

<div th:if="${param.logout}">

    You have been logged out.

</div>

<div th:if="${#httpServletRequest.remoteUser != null}">

    <p th:text="${#httpServletRequest.remoteUser}">
        sample_user
    </p>
</div>

<form th:action="@{/admin/login}" method="post">

    <div><label> User Name : <input type="text" name="username"/> </label></div>

    <div><label> Password: <input type="password" name="password"/> </label></div>

    <div><input type="submit" value="Sign In"/></div>

</form>
    <footer id="footer" th:replace="admin/part/footer :: footer"></footer>
</body>

</html>