<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="admin/part/head :: head"></head>
<head><title>customer manager</title></head>
<body>
<header id="header" th:replace="admin/part/header :: header"></header>

<div>
    <div>
        <a href="/admin/addUser">添加用户</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>phone number</th>
                <th>register date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.registerDate}"></td>
            </tr>

        </tbody>
    </table>

</div>


<footer id="footer" th:replace="admin/part/footer :: footer"></footer>

</body>

</html>