<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<body>
<header id="header" th:fragment="header">
    <div class="pub_header">
        <h1 class="pub_left "><a  href="/" class="logo">香蟹汇</a></h1>
        <nav class="pub_right" id="main-nav">
            <ul class="m_clear">
                <li><a href="/index">首页</a></li>
                <li><a href="/actions">操作流程</a></li>
                <li><a href="vouchers">DIY提货券</a></li>
                <li><a href="voucherList">我的订单</a></li>
                <li><a href="user">账户设置</a></li>
                <li><a href="users">退出</a></li>
            </ul>
        </nav>
    </div>
</header>

</body>
</html>