<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<body>
<header id="header" th:fragment="header">
    <div class="pub_header">
        <h1 class="pub_left "><a  href="/" class="logo">香蟹汇</a></h1>
        <nav class="pub_right" id="main-nav">
            <ul class="m_clear">
                <li><a href="/index">首页</a></li>
                <li th:if="${!isNotMember}"><a href="/actions">操作流程</a></li>
                <li th:if="${!isNotMember}"><a href="/client/vouchers?status=-1">提货券</a></li>
                <li th:if="${!isNotMember}"><a href="/client/orders?status=-1">我的订单</a></li>
                <li th:if="${!isNotMember}"><a href="/client/user">账户设置</a></li>
                <li th:if="${!isNotMember}"><a href="" onclick="logout()">退出</a></li>
                <li th:if="${isNotMember}"><a href="/login">登陆</a></li>
            </ul>
        </nav>

    </div>
</header>

</body>
</html>