<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<body>
<header id="header" th:fragment="heaher" class="top_nav">
    <div id="header-main" class="header-inner">
        <div class="outer">
            <nav id="main-nav">
                <ul class="m_clear">
                    <li><a class="main-nav-link" href="/"><span class="logo"></span>主页</a></li>
                    <li><a href="/client/vouchers?status=-1">券</a></li>
                    <li><a class="main-nav-link" href="/about/me">关于我</a></li>
                    <li><a class="" href="/client/user">个人信息管理</a></li>
                </ul>
            </nav>
        </div>
        <div class="inner">
            <a class="login" href="/">登录</a>  |  <a class="out_login" href="/logout">退出</a>
        </div>
    </div>

</header>
</body>
</html>