<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

    <head th:fragment="head">
        <meta charset="utf-8"/>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <title>阳澄湖大闸蟹</title>
        <link rel="stylesheet" href="/css/base.css"/>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css"/>

        <script type="text/javascript" th:src="@{/js/lib/jquery.min.js}"/>
        <script type="text/javascript" th:src="@{/js/common/util.js}"/>
        <script type="text/javascript" th:src="@{/js/client/tipbox.js}"/>
        <script
                src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
                integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
                crossorigin="anonymous"></script>
        <!--<script type="text/javascript">-->
            <!--var urlStr = location.href;-->
            <!--var urlStatus = false;-->
            <!--var list = $('#main-nav').children('a');-->
            <!--list.each(function(){-->
                <!--if((urlStr + '/').indexOf($(this).attr('rel'))> -1 && $(this).attr('rel')!=''){-->
                    <!--$(this).addClass('cur9rent_list');-->
                    <!--urlStatus = true;-->
                <!--}else {-->
                    <!--$(this).removeClass('current_list');-->
                <!--}-->
            <!--});-->
            <!--if(!urlStatus){-->
                <!--list.eq(0).addClass('current_list');-->
            <!--}-->
        <!--</script>-->
    </head>

</html>