<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="client/part/head :: head"></head>
<head>
    <meta charset="UTF-8"/>
    <title>添加券</title>
    <link rel="stylesheet" href="/css/voucher.css"/>
    <script type="text/javascript" th:src="@{/js/client/addVoucher.js}"/>
    <script type="text/javascript" th:src="@{/js/lib/jquery.validate.min.js}"/>
    <script type="text/javascript" th:src="@{/js/lib/messages_zh.js}"/>
    <style type="text/css">
        #main-nav li:nth-child(3) a{
            background:#ff7b33;
            color:#fff;
        }
    </style>
</head>
<body>
<header id="header" th:replace="client/part/header :: header"></header>
<div class="bg_box">
    <h2 class="your_position"> >> 当前位置：添加提货券</h2>
    <div class="bg_inbox">
        <div class="bg_title_box">
            <div class="bg_title pub_left">添加提货券</div>
            <div class="pub_right">
                <a href="/client/voucher/template" class="all_button">查看模板</a>
            </div>
        </div>
        <form class="all_form" id="addVoucherForm">
            <p>
                <label>类型：</label>
                <select id="category" class="all_input">
                </select>
            </p>
            <p>
                <label>截至日期：</label>
                <input type="date" id="voucherCreateDate" name="voucherCreateDate" class="all_input"/>
            </p>
            <p>
                <label>张数：</label>
                <input type="number" id="voucherTotal" name="voucherTotal" class="all_input"/>
            </p>
            <p>
                <label></label>
                <input type="submit" value="提交" class="all_button no_border_btn"/>
            </p>
        </form>
    </div>
</div>
</body>

</html>