<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="client/part/head :: head"></head>
<head>
    <link rel="stylesheet" href="/css/login.css"/>
    <script type="text/javascript" th:src="@{/js/client/tipbox.js}"/>
</head>
<body style="background: #f8f8f8;height: 100%;">

<div th:if="${param.error}">
    <script type="text/javascript">
        openBox("wrong","用户名或密码错误！","请重新输入...");
    </script>
</div>

<div th:if="${param.logout}">

    You have been logged out.

</div>

<div th:if="${#httpServletRequest.remoteUser != null}">

    <p th:text="${#httpServletRequest.remoteUser}">
        sample_user
    </p>
</div>
<!--<div class="top_nav">-->
    <!--<div id="header-main" class="header-inner">-->
        <!--<div class="outer">-->
            <!--<nav id="login-nav">-->
                <!--<ul class="m_clear">-->
                    <!--<li><a class="main-nav-link" href="/index"><span class="logo"></span></a></li>-->
                <!--</ul>-->
            <!--</nav>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="logo_img"><a href="/index">香蟹汇</a><span>欢迎登录</span></div>
<div class="login_body">
    <div class="login_center m_clear">
        <div class="m_img"></div>
        <div class="login_form">
            <h2>账号登录</h2>
            <form th:action="@{/login}" method="post">

                <p class="user_name"><input type="text" name="username" placeholder="请输入您的用户名"/></p>

                <p class="passwords"><input type="password" name="password" placeholder="请输入您的密码" /></p>

                <div class="forgot_password"><a>忘记密码</a></div>

                <p class="sub_icon"><input type="submit" value="立即登录"/></p>

            </form>
        </div>
    </div>
</div>
<div class="my_footer">
    <p>版权所有 Copyright © www.xiangxh.com All rights reserved </p>
</div>
</body>

</html>