<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="client/part/head :: head"></head>
<head>
    <meta charset="UTF-8"/>
    <title>消息</title>

    <script type="text/javascript" th:src="@{/js/client/message.js}"/>

</head>
<body>
<header id="header" th:replace="client/part/header :: header"></header>
<div class="bg_box">
    <a href="/client/message">发送信息</a>
    <h2 class="your_position"> >> 当前位置：消息提醒</h2>
    <div class="bg_inbox">
        <div class="left">
            <table>
                <thead>
                <tr>
                    <td>序号</td>
                    <td>发消息人</td>
                    <td>发送时间</td>
                    <td>已读</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="message, status:${datas.getContent()}" th:class="${status.index == currentMessageIndex}?'messageSelected':''"  onclick="jumpIndex(this)">
                    <input type="hidden" th:value="${message.id}"/>
                    <td th:text="${status.index}+1" class="index"></td>
                    <td th:text="${message.sendUser.name}"></td>
                    <td th:text="${#dates.format(message.sendDate, 'yyyy-MM-dd HH-mm-ss')}"></td>
                    <td th:class="${message.read}? 'read':'notRead'"></td>
                </tr>
                </tbody>
            </table>

            <div th:include="page :: pager" th:remove="tag"></div>
        </div>
        <div id="message_content_div" hidden="hidden" class="right">
            <div>
                <label>标题</label>
                <input id="message_title" type="text"/>
            </div>
            <div>
                <label>内容</label>
                <input id="message_content" type="text"/>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>
</body>

</html>