<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="client/part/head :: head"></head>
<head>
    <meta charset="UTF-8"/>
    <title>我的订单</title>
    <script type="text/javascript" th:src="@{/js/client/orderList.js}"/>
    <script type="text/javascript" th:src="@{/js/lib/jquery.validate.min.js}"/>
    <script type="text/javascript" th:src="@{/js/lib/messages_zh.js}"/>
    <link rel="stylesheet" href="/css/voucher.css"/>
    <style type="text/css">
        #main-nav li:nth-child(4) a{
            background:#ff7b33;
            color:#fff;
        }
    </style>
</head>
<body>
<header id="header" th:replace="client/part/header :: header"></header>
    <div class="bg_box">
        <h2 class="your_position"> >> 当前位置：我的订单</h2>
        <div class="bg_inbox m_clear">
            <div class="bg_title_box">
                <div class="bg_title pub_left">我的订单</div>
            </div>
            <div class="pub_table">
                <table>
                    <thead>
                        <tr>
                            <td width="8%">券号</td>
                            <td width="8%">规格</td>
                            <td width="8%">创建日期</td>
                            <td width="6%">预约人</td>
                            <td width="8%">预留电话</td>
                            <td width="8%">预计送到时间</td>
                            <td width="14%">快递单号</td>
                            <td width="12%">状态：
                                <input id="voucher_status_id" style="display: none" th:value="${status}"/>
                                <select id="voucher_status_select">
                                    <option value="-1">全部</option>
                                    <option value="1">待发货</option>
                                    <option value="2">已发货</option>
                                    <option value="3">完成</option>
                                </select>
                            </td>
                            <td width="8%">操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="order:${datas.getContent()}">
                            <td th:text="${order.voucher.identityCode}"></td>
                            <td th:text="${order.voucher.voucherCategory.detail}"></td>
                            <td th:text="${order.voucher.createDateTime}"></td>
                            <td th:text="${order.contact}"></td>
                            <td th:text="${order.phoneNumber}"></td>
                            <td th:text="${order.needDateTime}?${order.needDateTime}:'无'"></td>
                            <td th:text="${order.trackingNumber}?${order.trackingNumber}:'无'"></td>
                            <td th:switch="${order.voucher.status}">
                                <span th:case="0">待提货</span>
                                <span th:case="1">待发货</span>
                                <span th:case="2">已发货<br/><a onclick="getExpressDetail(this)" class="allHerf" href="javascript:;">查看物流</a></span>
                                <span th:case="3">完成</span>
                            </td>
                            <td th:switch="${order.voucher.status}">
                                <span th:case="0">无</span>
                                <a th:case="1" onclick="openDialog(this)" class="all_button button01">发货</a>
                                <div th:case="2" style="padding: 2px 0; line-height: 28px;">
                                    <a onclick="changeTrackingNumber(this)" class="allHerf allHerf2" href="javascript:;">修改单号</a><br/>
                                    <a onclick="finishOrder(this)" class="all_button button01">完成</a>
                                </div>
                                <span th:case="3">无</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div th:include="page :: pager" th:remove="tag"></div>
            </div>
        </div>
    </div>
    <div id="orderDialog">
        <div>
            <label>运输公司:</label>
            <select id="company_select"></select>
            <input type="button" value="查看全部快递公司" onclick="getAllCompany()"/>
        </div>

        <div>
            <form id="orderForm">
                <label>快递单号:</label>
                <input id="tracking_number_input" name="tracking_number_input" type="text"/>
            </form>
        </div>

    </div>

    <div id="express_detail_dialog">
        <table id="show_express_table">
            <tbody>

            </tbody>
        </table>
        <span id="error_express"></span>
    </div>

    <div id="trackingNumberdDialog">
        <form id="newTrackingForm">
            <label>新快递单号：</label>
            <input type="text" id="newTrackingNumber" name="newTrackingNumber"/>
        </form>

    </div>

    <div id="confirmDialog">
        <p>订单确认完成</p>
    </div>
</body>

</html>