<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="client/part/head :: head"></head>
<head>
    <meta charset="UTF-8"/>
    <title>我的提货券模板</title>
    <link rel="stylesheet" href="/css/voucher.css"/>
    <script type="text/javascript" th:src="@{/js/client/template.js}"/>
    <style type="text/css">
        #main-nav li:nth-child(3) a{
            background:#ff7b33;
            color:#fff;
        }
    </style>
</head>
<body>
<header id="header" th:replace="client/part/header :: header"></header>
<div class="bg_box">
    <h2 class="your_position"> >> 当前位置：我的模板</h2>
    <div class="bg_inbox">
        <div class="bg_title_box">
            <div class="bg_title pub_left">提货券模板</div>
            <div class="pub_right">
                <a href="/client/voucher/addVoucher" class="all_button">添加券</a>
            </div>
        </div>
        <div class="all_form" style="position:relative;">
            <input id="template_id" type="hidden" th:value="${template.id}"/>
            <p id="company_name">
                <label>公司名称：</label>
                <input type="text" class="all_input" id="company_name_text" th:value="${template.companyName}"/>
            </p>
            <p id="contact">
                <label>联系人：</label>
                <input id="contact_input" class="all_input" th:value="${template.contact}"/>
            </p>
            <p id="phone_number">
                <label>联系电话：</label>
                <input id="phone_number_input" class="all_input" th:value="${template.phoneNumber}"/>
            </p>
            <p id="expiation">
                <label>公司地址：</label>
                <input id="owner_input" class="all_input" th:value="${template.owner}"/>
            </p>
            <p>
                <label></label>
                <button onclick="saveTemplate()" class="all_button no_border_btn">保存修改</button>
            </p>
            <div style="position:absolute;right: 20px;top: 15px;border: 1px solid #dcdcdc;background: #fff;">
                <img id="default_template" src="/img/template.jpg" style="display: none"/>
                <img id="show_template" style="height: auto; width: 720px;"/>
            </div>

        </div>
    <!--<div id="companyImage">-->
        <!--<label>模板图片：</label>-->
        <!--<input id="companyImageFile" type="file"/>-->
        <!--<img id="prepareImage" style="height: 200px; width: 200px"/>-->
    <!--</div>-->

</div>
</div>

</body>

</html>