<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

    <meta charset="UTF-8"/>

    <title>用户管理</title>

</head>
<head th:replace="client/part/head :: head"></head>
<script type="text/javascript" th:src="@{/js/client/user.js}"/>

<body>
    <header id="header" th:replace="client/part/header :: header"></header>

    <div>
        <label>修改密码</label>
    </div>
    <div>
        <label>原密码：</label>
        <input name="oldPassword" id="oldPassword" type="password" />
    </div>
    <div>
        <label>新密码：</label>
        <input name="newPassword" id="newPassword" type="password" />
    </div>
    <input type="button" value="提交" onclick="updatePassword()"/>
</body>

</html>