<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

    <meta charset="UTF-8"/>

    <title>券</title>

</head>
<head th:replace="client/part/head :: head"></head>
<script type="text/javascript" th:src="@{/js/lib/FileSaver.js}"/>
<script type="text/javascript" th:src="@{/js/lib/jszip.min.js}"/>
<script type="text/javascript" th:src="@{/js/lib/qrcode.js}"/>
<script type="text/javascript" th:src="@{/js/client/voucher.js}"/>

<body>
<header id="header" th:replace="client/part/header :: header"></header>
<div>
    <a href="/client/voucher/addVoucher">添加券</a>
    <a href="/client/voucher/template">查看模板</a>
    <img id="default_template" src="/img/template.jpg" style="display: none"/>
    <div id="qrcode" style="width:100px; height:100px; margin-top:15px;"></div>
    <table>
        <thead>
            <tr>
                <td>券号：</td>
                <td>规格：</td>
                <td>创建日期：</td>
                <td>状态：
                    <input id="voucher_status_id" th:value="${status}"/>
                    <select id="voucher_status_select">
                        <option value="-1">全部</option>
                        <option value="0">创建</option>
                        <option value="1">提货</option>
                        <option value="2">完成</option>
                    </select>
                </td>
                <td><input type="checkbox" id="control_check" onclick="toggleCheck()"/><button onclick="generatePic()">生成图片</button></td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="voucher:${vouchers.getContent()}">
                <td th:text="${voucher.identityCode}"></td>
                <td th:text="${voucher.voucherCategory.detail}"></td>
                <td th:text="${voucher.createDateTime}"></td>
                <td th:text="${voucher.status}"></td>
                <td>
                    <input type="checkbox" name="voucher_check"/>
                    <div class="qrcode_td" th:id="'qrcode_'+${voucher.identityCode}" style="display:none"></div>
                    <input type="hidden" th:value="${voucher.activeDateTime}"/>
                    <input type="hidden" th:value="${voucher.identityCode}"/>
                    <input type="hidden" th:value="${voucher.voucherCategory.detail}"/>

                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>

</html>