<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

    <meta charset="UTF-8"/>

    <title>券</title>

</head>
<head th:replace="client/part/head :: head"></head>

<body>
<header id="header" th:replace="client/part/header :: header"></header>
<div>
    <a href="/client/voucher/addVoucher">添加券</a>
    <table>
        <thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="voucher:${vouchers.getContent()}">
                <td th:text="${voucher.userId}"></td>
                <td></td>
                <td></td>

            </tr>
        </tbody>
    </table>
</div>
This is voucher list page!
</body>

</html>