<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="client/part/head :: head"></head>
<head>
    <meta charset="UTF-8"/>
    <title>提货券</title>
    <link rel="stylesheet" href="/css/voucher.css"/>
    <script type="text/javascript" th:src="@{/js/lib/FileSaver.js}"/>
    <script type="text/javascript" th:src="@{/js/lib/jszip.min.js}"/>
    <script type="text/javascript" th:src="@{/js/lib/qrcode.js}"/>
    <script type="text/javascript" th:src="@{/js/client/voucher.js}"/>
</head>
<body>
<header id="header" th:replace="client/part/header :: header"></header>
<div class="bg_box">

    <h2 class="your_position"> >> 当前位置：提货券</h2>
    <div class="bg_inbox">
        <div class="bg_title_box">
            <div class="bg_title pub_left">我的提货券</div>
            <div class="pub_right">
                <a href="/client/voucher/addVoucher" class="all_button">添加券</a>&nbsp;&nbsp;
                <a href="/client/voucher/template" class="all_button">查看模板</a>
            </div>
        </div>
        <img id="default_template" src="/img/template.jpg" style="display: none"/>
        <div id="qrcode" style="width:100px; height:100px; margin-top:15px;"></div>
        <div class="pub_table">
            <table>
                <thead>
                    <tr>
                        <td class="check_box"><input type="checkbox" id="control_check" onclick="toggleCheck()"/><i>✓</i></td>
                        <td>券号：</td>
                        <td>规格：</td>
                        <td>创建日期：</td>
                        <td>状态：
                            <input id="voucher_status_id" style="display: none" th:value="${status}"/>
                            <select id="voucher_status_select">
                                <option value="-1">全部</option>
                                <option value="0">创建</option>
                                <option value="1">提货</option>
                                <option value="2">发货</option>
                                <option value="3">完成</option>
                            </select>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="voucher:${vouchers.getContent()}">
                        <td class="check_box">
                            <input type="checkbox" name="voucher_check"/>
                            <i>✓</i>
                            <div class="qrcode_td" th:id="'qrcode_'+${voucher.identityCode}" style="display:none"></div>
                            <input type="hidden" th:value="${voucher.activeDateTime}"/>
                            <input type="hidden" th:value="${voucher.identityCode}"/>
                            <input type="hidden" th:value="${voucher.voucherCategory.detail}"/>
                        </td>
                        <td th:text="${voucher.identityCode}"></td>
                        <td th:text="${voucher.voucherCategory.detail}"></td>
                        <td th:text="${voucher.createDateTime}"></td>
                        <td th:switch="${voucher.status}">
                            <span th:case="0">创建</span>
                            <span th:case="1">提货</span>
                            <span th:case="2">发货</span>
                            <span th:case="3">完成</span>
                        </td>

                    </tr>
                </tbody>
            </table>
            <button onclick="generatePic()" class="all_button no_border_btn">生成图片</button>
        </div>
    </div>
</div>
</body>

</html>