<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<body>
<header id="header" th:fragment="heaher">
    <div class="pub_header" id="header-main">
        <h1 class="pub_left "><a  href="/" class="logo" id="logo">香蟹汇</a></h1>
        <nav class="pub_right" id="main-nav">
            <ul class="m_clear">
                <li><a href="/admin/users">用户管理</a></li>
                <li><a href="/admin/voucher/categories">券规格管理</a></li>
                <li><a href="/admin/express/companies">快递公司管理</a></li>
                <li><a href="/admin/express/companies">系统消息</a></li>
                <li><a href="" onclick="logout()">退出</a></li>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>