<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">

<body>
<header id="header" th:fragment="heaher" class="m_header">
    <div id="header-main" class="header-inner">
        <div class="outer">
            <a href="/" id="logo">
                <i class="logo"></i>
                <span class="site-title">crab</span>
            </a>
            <nav id="main-nav">
                <a class="main-nav-link" href="/">主页</a>
                <a class="" href="/admin/users">用户管理</a>
                <a class="" href="/admin/voucher/categories">券类型</a>
                <a class="" href="/admin/express/companies">快递公司管理</a>

            </nav>
        </div>
    </div>

</header>
</body>
</html>