@charset "utf-8";
body, html{
    background: #fff;
    font-family: '微软雅黑', Arial, "Arial Black";
    font-size: 14px;
    color:#666;
}
body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,textarea,th{
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img{
    border:0;
}
ol, ul{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size: 100%;
}
a{
    color:#666;
    text-decoration: none;
}
a:hover{
    color: #ff4200;
    text-decoration: none;
}
a:focus{
    outline: none;
    text-decoration: none;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
i{
    font-style: normal;
}
label{
    font-weight: normal;
}
.trans{
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.m_clear{
    zoom: 1;
}
.m_clear:before, .m_clear:after{
    display: table;
    content: " ";
    clear: both;
}