@charset "utf-8";

/* 禁用iPhone中Safari的字号自动调整 */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	max-width: 750px;
	margin:0 auto;
	height:100%;
	position: relative;
}

/* 去除iPhone中默认的input样式 */
input[type="submit"], input[type="reset"], input[type="button"],{
	-webkit-appearance: none;
	resize: none;
}

/* 取消链接高亮  */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-family: Microsoft YaHei, '宋体', Tahoma, Arial, sans-serif;
}

/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
/* 初始化 */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	border: none;
	font-family: Microsoft YaHei, '宋体', Tahoma, Arial, sans-serif;
}
body {
	font-family: '微软雅黑', Arial, "Arial Black";
	font-size: .75rem;
	color: #525252;
	background: url(../img/act_bj0.png);
	height:100%;
}
.bg_box{
	height:100%;
	width:100%;
}
em, i ,strong {
	font-style: normal;
}
*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-shadow: none;
}
header,footer{
	width: 18.75rem;
	height: 3.5rem;
	background: url(../img/page2.png) repeat-x;
	background-size: contain;
	color:#fff;
	font-size: 1rem;
	text-align: center;
	line-height: 3.5rem;
	margin-bottom: 1.5rem;
}
footer{
    background: url(../img/page1.png) repeat-x;
	background-size: contain;
	font-size: .6rem;
	margin-bottom: 0;
	position: fixed;
	bottom:0;
}
.recruit p{
	margin:1rem .6rem;
}
.recruit p label{
	color: #666;
	display: inline-block;
	width: 5.2rem;
	text-align: right;
	margin: 0 .4rem 0 0;
	font-size: .8rem;
}
.recruit p input{
	width: 11rem;
	font-size: .8rem;
	border: 1px solid #dcdcdc;
	outline: none;
	background: transparent;
	padding: 0 0 0 .3rem;
	height: 1.6rem;
	border-radius: .15rem;
}
.recruit p .all_button{
	width: 6rem;
	height:1.6rem;
	color: #fff;
	font-size: .8rem;
	border-radius:.8rem;
	background:#ff7b33;
	padding: 0;
	border: 0;
}
.waiting{
	width:100%;
	height:100%;
	background: #c0e4fc url(../img/waiting.png) no-repeat center center;
	background-size: contain;
}
.order_success,order_over{
	width: 5rem;
	height: 10rem;
	position: absolute;
	top: 42%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: url(../img/index91-cur.png) no-repeat center center;
    background-size: contain;
	padding-top: 8.8rem;
	font-size: 1rem;
	text-align: center;
}
order_over{
    width: 6rem;
     background: url(../img/empty.png) no-repeat center center;
     background-size: contain;
}