<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,  user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>订单完成</title>
    <link rel="stylesheet" href="/css/voucherOrder.css"/>
    <script type="text/javascript" th:src="@{/js/client/voucherOrder.js}"/>
</head>

<body>
<div class="bg_box">
    <header>订单完成</header>
    <div class="order_over">该券已提货</div>
    <footer>Copyright © www.xiangxh.com All rights reserved </footer>
</div>
</body>

</html>